<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Homepage <%= 'hello world'.toUpperCase() %> </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eveniet reiciendis, mollitia sequi quam ex corporis possimus dolores
        quod assumenda placeat cumque, debitis quia itaque nostrum quae.
        Temporibus quo id ex?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eveniet reiciendis, mollitia sequi quam ex corporis possimus dolores
        quod assumenda placeat cumque, debitis quia itaque nostrum quae.
        Temporibus quo id ex?
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eveniet reiciendis, mollitia sequi quam ex corporis possimus dolores
        quod assumenda placeat cumque, debitis quia itaque nostrum quae.
        Temporibus quo id ex?
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eveniet reiciendis, mollitia sequi quam ex corporis possimus dolores
        quod assumenda placeat cumque, debitis quia itaque nostrum quae.
        Temporibus quo id ex?
    </p>
    
</body>
</html>