<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <!-- <h1>Your random number is: <%= Math.floor(Math.random()*10) + 1 %> </h1> -->
    <h1>Your random number is: <%= randomNumber %> </h1>

    <h2>That's an <%= randomNumber%2===0 ? 'EVEN' : 'ODD' %> number</h2>

    <% if (randomNumber % 2 === 0) { %>
        <h2>That's an EVEN number</h2>
    <% } else { %>
        <h2>That's an ODD number</h2>
    <% } %> 

</body>
</html>